<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SN Mess AutoFill</title>
</head>
<body>
<form action="/receive" method="GET">
    Name: <input type="text" name="name" value="Kusuma H"><br/>
    Roll No: <input type="text" name="roll" value="17HS20016"><br/>
    Room No: <input type="text" name="room" value="W206"><br/>
    Default Option: <input type="number" name="def_opt" value="0"><br/>
    FormID: <input type="text" name="form_id"><br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>